.openapi-explorer__form-item {
  padding: 0.5rem;
  font-size: 0.75rem;

  &:first-child {
    margin-top: 0;
  }

  .required {
    color: var(--destructive);
  }
}

.openapi-explorer__form-item-body-container {
  padding: 0;
}
