.openapi-explorer__expand-modal-content {
  padding: 0;
  border: thin solid var(--ifm-toc-border-color);
  border-radius: var(--radius);
  max-width: 95%;
  width: 65vw;
  height: 65vh;
  overflow: auto;
}

.openapi-explorer__expand-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0px;
  background: color-mix(in oklab, var(--background) 70%, transparent);
  backdrop-filter: blur(8px);
  z-index: 201;
}
