.openapi-explorer__response-container {
  background-color: var(--ifm-pre-background);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-shadow: none;
  color: var(--ifm-pre-color);
  line-height: var(--ifm-pre-line-height);
  margin-bottom: var(--ifm-spacing-vertical);
  margin-top: 0;
  overflow: auto;
  transition: 300ms;

  &:hover {
    box-shadow: none;
  }

  .openapi-explorer__code-block code {
    padding-top: 0;
  }
}

.openapi-explorer__response-title-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  margin: 0;
  padding: 0.75rem var(--ifm-pre-padding);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.openapi-explorer__response-placeholder-message {
  font-size: 12px;
  padding: 1.25rem;
  margin-bottom: 0;
  text-align: center;
}

.openapi-explorer__response-clear-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  border: 0px solid transparent;
  background-color: transparent;
  text-transform: inherit;
  font-weight: inherit;
  font-size: inherit;

  &:hover {
    cursor: pointer;
  }
}

.openapi-explorer__loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.openapi-response__dot::before {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.25rem;
  border-radius: 50%;
  background: var(--primary);
  content: "";
}

.openapi-response__dot--danger::before {
  background: var(--destructive);
}

.openapi-response__dot--success::before {
  background: var(--success);
}

.openapi-response__dot--info::before {
  background: var(--info);
}

.openapi-response__status-code {
  margin-left: -1rem;
}

.openapi-response__status-headers {
  margin-left: -1rem;
}

/* loading spinner */
.openapi-response__lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.openapi-response__lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 5px solid var(--primary);
  border-radius: 50%;
  animation: openapi-response__lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1)
    infinite;
  border-color: var(--ifm-color-primary) transparent transparent transparent;
}
.openapi-response__lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.openapi-response__lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.openapi-response__lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes openapi-response__lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
