:root {
  --bash-background-color: transparent;
  --bash-border-radius: none;
  --code-tab-logo-width: 24px;
  --code-tab-logo-height: 24px;
}

[data-theme="dark"] {
  --bash-background-color: lightgrey;
  --bash-border-radius: var(--radius);
}

.openapi-tabs__code-container {
  margin-bottom: 1rem;

  &:not(.openapi-tabs__code-container-inner) {
    padding: 1rem;
    background-color: var(--ifm-pre-background);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    box-shadow: none;
    transition: 300ms;

    &:hover {
      box-shadow: none;
    }
  }

  .openapi-tabs__code-item {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 0 80px;
    align-items: center;
    padding: 0.5rem 0 !important;
    margin-top: 0 !important;
    margin-right: 0.5rem;
    border: 1px solid transparent;
    transition: 300ms;

    &:not(.active):hover {
      border: 1px solid var(--border);
    }

    &:hover {
      background-color: transparent;
    }

    span {
      padding-top: 0.5rem;
      color: var(--ifm-font-color-secondary);
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.openapi-tabs__code-list-container {
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem;
  padding-bottom: 0.6rem;
}

.openapi-tabs__code-content {
  margin-top: unset !important;
}

.openapi-explorer__code-block code {
  max-height: 200px;
  font-size: 0.75rem;
  padding-top: var(--ifm-pre-padding);
}

body[class="ReactModal__Body--open"] {
  .openapi-explorer__code-block code {
    max-height: 600px;
  }
}

.openapi-tabs__code-item--variant {
  color: var(--ifm-color-secondary);

  &.active {
    border-color: var(--ifm-toc-border-color);
  }
}

.openapi-tabs__code-item--variant > span {
  padding-top: unset !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.openapi-tabs__code-item--sample {
  color: var(--ifm-color-secondary);

  &.active {
    border-color: var(--ifm-toc-border-color);
  }
}

.openapi-tabs__code-item--sample > span {
  padding-top: unset !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.openapi-tabs__code-item--python {
  color: var(--ifm-color-success);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--go {
  color: var(--ifm-color-info);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--dart {
  color: var(--ifm-color-info);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--javascript {
  color: var(--ifm-color-warning);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--curl {
  color: var(--ifm-color-danger);

  &.active {
    box-shadow: none;
    border-color: var(--ifm-color-danger);
  }
}

.openapi-tabs__code-item--ruby {
  color: var(--ifm-color-danger);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--csharp {
  color: var(--ifm-color-gray-500);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--r {
  color: var(--ifm-color-gray-500);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--swift {
  color: var(--ifm-color-danger);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--c {
  color: var(--ifm-color-info);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--objective-c {
  color: var(--ifm-color-info);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--ocaml {
  color: var(--ifm-color-warning);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--nodejs {
  color: var(--ifm-color-success);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--php {
  color: var(--ifm-color-gray-500);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--kotlin {
  color: var(--ifm-color-gray-500);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--rust {
  color: var(--ifm-color-gray-500);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--java {
  color: var(--ifm-color-warning);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--powershell {
  color: var(--ifm-color-info);

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--http {
  color: var(--ifm-color-gray-500);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

.openapi-tabs__code-item--shell {
  color: var(--ifm-color-gray-500);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.active {
    box-shadow: none;
    border-color: var(--border);
  }
}

@media only screen and (min-width: 768px) and (max-width: 996px) {
  .openapi-tabs__code-list {
    justify-content: space-around;
  }
}

.ReactModal__Body--open {
  overflow: hidden !important;
}

.openapi-modal--open {
  background-color: var(--popover) !important;
}

.openapi-tabs__code-icon {
  width: 1rem;
  height: 1rem;
  flex: 0 0 auto;
}
