.openapi-explorer__playground-container {
  margin-top: 1rem;
  margin-bottom: var(--ifm-leading);
  border-radius: var(--radius);
  box-shadow: none;
  overflow: auto;
  max-height: 500px;
}

.openapi-explorer__playground-editor {
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace) !important;
  /* rtl:ignore */
  direction: ltr;
}
