.openapi-explorer__form-item-input {
  margin-top: calc(var(--ifm-pre-padding) / 2);
  background-color: var(--background);
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--ifm-pre-color);
  padding: 0.5rem;
  border-radius: var(--radius);

  &:hover {
    border: 1px solid var(--ifm-toc-border-color);
  }

  &:focus {
    border: 1px solid var(--ifm-color-primary);
    box-shadow: none;
  }

  &.error {
    border: 1px solid var(--destructive);
  }
}

.openapi-explorer__input-error {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-top: 0.5rem;
  color: var(--destructive);
  font-size: 0.75rem;

  > svg {
    width: 0.875rem;
    height: 0.875rem;
    flex: 0 0 auto;
  }
}
