.openapi-explorer__form-item-input {
  margin-top: 0.5rem;

  &.error {
    border-color: var(--destructive);
  }
}

.openapi-explorer__input-error {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-top: 0.5rem;
  color: var(--destructive);
  font-size: 0.75rem;

  > svg {
    width: 0.875rem;
    height: 0.875rem;
    flex: 0 0 auto;
  }
}
