.openapi-explorer__form-item-input {
  margin-top: calc(var(--ifm-pre-padding) / 2);
  background-color: var(--background);
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--ifm-pre-color);
  padding: 0.5rem;
  border-radius: 4px;

  &:hover {
    border: 1px solid var(--ifm-toc-border-color);
  }

  &:focus {
    border: 1px solid var(--ifm-color-primary);
    box-shadow: none;
  }

  &.error {
    border: 1px solid var(--destructive);
  }
}

.openapi-explorer__input-error {
  font-size: 0.75rem;
  color: var(--destructive);
  padding-top: 0.5rem;

  &::before {
    display: inline;
    content: "⚠ ";
  }
}
