html[data-theme="dark"] .openapi-explorer__select-input {
  margin-top: calc(var(--ifm-pre-padding) / 2);
  background-color: var(--background);
  border: none;
  outline: none;
  width: 100%;
  color: var(--ifm-pre-color);

  border-radius: var(--radius);
}

.openapi-explorer__select-input {
  width: 100%;
  margin-top: calc(var(--ifm-pre-padding) / 2);
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: var(--radius);
  background-color: var(--background);
  font-size: 0.75rem;
  font-family: var(--ifm-font-family-monospace);
  color: var(--ifm-pre-color);

  &:focus {
    box-shadow: none;
  }
}
